<div class="ef2_support">
    <h2>Ik wil graag dat EF2 me helpt!</h2>
    <p>Neem dan contact met ons op:<br />
        <br />
        <img src="/modules/ef2_admin/img/ef2logo_color.svg" style="width: 100px;" alt="EF2"><br />
        Kerkewijk 65E (Sigarenfabriek)<br />
        3901 EC Veenendaal<br />
        0318 - 555 800<br />
        <a href="mailto:info@ef2.nl">info@ef2.nl</a></p>
</div>

<div class="accordion">
    <h2>Handleiding</h2>
    <h3 class="c6" id="h.unzy5ksedjd2">Bestaande content wijzigen</h3>
    <ol class="c1 lst-kix_vbhptnaxg6l8-0 start" start="1">
        <li class="c2"><span class="c0">Navigeer door de website naar een bestaande pagina.</span></li>
        <li class="c2"><span class="c0">Ga met de muis op de oranje knop rechtsonderin het scherm, staan. Er valt een menu uit; klik nu op &quot;Bewerken&quot; of klik direct op de oranje knop</span></li>
        <li class="c2"><span class="c0">Er opent een formulier waarbij u diverse velden heeft om de inhoud van de pagina aan te passen. </span></li>
        <li class="c2"><span class="c0">Pas de velden aan en kies bovenaan de pagina voor &quot;Opslaan en publiceren&quot;</span></li>
        <li class="c2"><span class="c0">Je komt terecht op de bewerkte pagina. Controleer je aanpassingen.</span></li>
    </ol>
    <p class="c3"><span class="c0"></span></p>
    <p class="c3"><span class="c0"></span></p>
    
    <h3 class="c6" id="h.gqlafilfz2ef"><span class="c4">Nieuwe content invoegen</span></h3>
    <ol class="c1 lst-kix_92idgrnp9h9l-0 start" start="1">
        <li class="c2"><span class="c0">Ga in de administrator balk met de muis op &quot;Inhoud&quot; staan. 
                Er valt een menu uit waarna je met de muis op &quot;Inhoud toevoegen&quot; gaat staan. Je kunt dan 
                kiezen uit diverse types.</span></li>
        <li class="c2"><span class="c0">Klik op het type pagina welke je wil toevoegen. </span></li>
        <li class="c2"><span class="c0">Je komt terecht in een heel nieuw formulier, vul deze in.</span></li>
        <li class="c2"><span class="c0">Kies bovenin het scherm voor &quot;Opslaan en publiceren&quot;. </span></li>
        <li class="c2"><span class="c0">De nieuwe pagina is gemaakt, je wordt automatisch doorgestuurd naar de nieuwe pagina. </span></li>
    </ol>
    
    <p class="c3"><span class="c0"></span></p>
    <p class="c3"><span class="c0"></span></p>
    
    <h3 class="c6" id="h.yt7qwio64xgn"><span class="c4">Bestaande content verwijderen</span></h3>
    <p class="c3"><span class="c0"></span></p>
    <ol class="c1 lst-kix_fi1rcuz3c3iw-0 start" start="1">
        <li class="c2"><span class="c0">Navigeer door de website naar een bestaande pagina.</span></li>
        <li class="c2"><span class="c0">Ga met de muis op de oranje knop rechtsonderin het scherm, staan. Er valt een menu uit; klik nu op &quot;Verwijderen&quot;<br></span></li>
        <li class="c2"><span class="c0">U krijgt een bevestigingspagina, klik nogmaals op de knop &quot;Verwijderen&quot;.</span></li>
        <li class="c2"><span class="c0">De inhoud is nu verwijderd.</span></li>
    </ol>
    
    <p class="c3"><span class="c0"></span></p>
    
    <h3 class="c6" id="h.vp5ozg5vpjet"><span class="c4">Cache vernieuwen</span></h3>
    <p class="c7"><span class="c0">Soms blijft de oude inhoud langer staan dan je wil. Dan kan het helpen om de cache te legen. 
            De inhoud van de website vernieuwd dan direct. </span></p>
    <p class="c3"><span class="c0"></span></p>
    
    <ol class="c1 lst-kix_947njqi5dax1-0 start" start="1">
        <li class="c2"><span class="c0">In het beheersmenu klik je op "Cache leegmaken". </span></li>
        <li class="c2"><span class="c0">Het kan soms even duren. (tot 5 max. minuten)</span></li>
    </ol>
</div>
